.container-cat{
    width: 75%;
    margin:0 auto;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    justify-content: space-around;
}
.button{
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.flex-box-container-1 img{
     flex-wrap: wrap;
     padding: 10px;
     justify-content: space-around;
}
