.container-cat{
    text-align: center;
    justify-content: space-around;
}
.title-box{
    border: 1px solid black;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.button{
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.cats{
    
    border: 1px dotted black;
}
